body{
    background: rgb(93,93,93);
    background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0.9556197478991597) 62%, rgba(93,92,92,1) 97%);

    text-align: center;
}