label{
    text-align: center;
    width: 73px;
}
.agregar{
    background-image: linear-gradient( 110.8deg,  rgba(86,238,225,1) 11.4%, rgba(176,255,39,1) 84.5% );
}
.ircarrito{
   text-align: center;
}