.contenedorCart{
    text-align: center;
}

.borrarcompra{
    margin-top: 30px;
    display: inline-block;
}
.imagenPanda{
    margin-left: 35%;
    height: 100%;
}
.texto-vacio{
    text-align: center;
    height: 100%;
    width: 100%;
}
.link-vacio{
    text-align: center;
    height: 100%;
    height: 70px;
    margin-left: 48%;
}
.total{
    font-size:x-large;
    color: rgb(12, 153, 82);
   font-weight: bold;
}

.confcomp{
    margin-left: 5px;
    outline: none;
    text-decoration: none;
}

.box{
    height: 600px;
    width: 400px;
    background-color: transparent;
    position: absolute;
    margin: 3% 38%;
    z-index: 5;
    border: 2px solid black;
    text-align: center;
}

.blur{
    filter: blur(5px);
}

.h1{
    width: 100%;
}

.logger{
    display: block;
    width: 70%;
    height: 60px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    outline: none;

}

.boton{
    border-radius: 40%;
    height: 35px;
    width: 100px;
}

.password{
    width: 30px;
    height: 30px;
}

.label1{
    align-items: flex-end;
    width: 100%;
}
.aqui{
    color: blue;
    text-decoration: underline blue;
    cursor: pointer;
}
